<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowurCraft-Estate</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    body {
        scroll-behavior: smooth;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-direction: column;
        gap: 1em;
    }

    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80px;
    }
 p{
    font-size: 26px;
    font-family: cursive;
    color: grey;
 }

</style>
<body>
    <h1>Oops!!!</h1>
    <p>Upcoming Page</p>
</body>
</html>